<p>nav-bar works!</p>
<mat-toolbar color="primary">

    <!--Home Button-->
    <button mat-flat-button routerLink="/home">Home</button>
    <mat-menu #menu="matMenu">
    </mat-menu>
  
  <!--Quizzes Button-->
  <button mat-flat-button routerLink="/quiz-selection">Quizzes</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item><a mat-list-item href="#">RESTful API</a></button>
    <button mat-menu-item><a mat-list-item href="#">DevOps</a></button>
    <button mat-menu-item><a mat-list-item href="#">HTML/CSS/JS</a></button>
  </mat-menu>
  
  <!--Presentations-->
  <button mat-flat-button routerLink="/presentations">Presentations</button>
  <mat-menu #menu="matMenu">
  </mat-menu>
  
  
  <!--Logout Icon-->
  <button mat-flat-button routerLink="/sign-in">
      <mat-icon>Logout</mat-icon>
    </button>
  </mat-menu>
  
  </mat-toolbar>