<!--
=====================================
  ; Title: quiz-selection.component.html
  ; Author: Natasha Whitmer
  ; Date: October 20 2019
  ; Description: quiz-selection.component.html
======================================
-->
<h2>Please selection your quiz below!</h2>
<small *ngIf="errorMessage">{{ errorMessage }}</small>
<div *ngIf="quizzes">
    <div fxLayout="column" fxLayoutAlign="center" *ngFor="let quiz of quizzes">
        <mat-card>
            <mat-card-title>{{ quiz.quizName }}</mat-card-title>
            <mat-card-content>
                <img mat-card-image src="/nodequiz/src/assets/presentations/{{ quiz.quizId }}/{{ quiz.presentations[0].imagePath }}">
                <p>{{ quiz.quizDescription }}</p>
                <button fxFlex mat-raised-button color="primary" (click)="goToPresentation(quiz.quizId)">View Presentation</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>