<!--
=====================================
  ; Title: quiz-selection.component.html
  ; Author: Natasha Whitmer
  ; Date: October 20 2019
  ; Description: quiz-selection.component.html
======================================
-->
<div class="quizselect">
    <h2>Please select your quiz below!</h2>
    <div class="row">
        <div class="column">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="quiz-header-image"></div>
                    <mat-card-title>RESTful APIs</mat-card-title>
                    <mat-card-subtitle>Quiz 1</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/presentations/1001/1.JPG" alt="photo of slide 1" style="width:100%">
                <mat-card-content>
                    <p>This quiz is in regards to RESTful APIs.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="goToPresentationPage(1001)">View Presentation</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="column">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="quiz-header-image"></div>
                    <mat-card-title>Development Operations</mat-card-title>
                    <mat-card-subtitle>Quiz 2</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/presentations/1002/1.JPG" alt="photo of slide 1" style="width:100%; align-content: center">
                <mat-card-content>
                    <p>This quiz is in regards to Development Operations.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="goToPresentationPage(1002)">View Presentation</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="column">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="quiz-header-image"></div>
                    <mat-card-title>HTML, CSS, and JS</mat-card-title>
                    <mat-card-subtitle>Quiz 3</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/presentations/1003/1.JPG" alt="photo of slide 1" style="width:100%">
                <mat-card-content>
                    <p>This quiz is in regards to HTML, CSS, & JavaScript.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="goToPresentationPage(1003)">View Presentation</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
