<div class="wrapper">
    <h2>NodeQuiz Sign in Page</h2>
    <div class="frm-signin">
      <mat-card class="signin-panel frm-signin-panel">
        <mat-card-header class="frm-signin-header">
        </mat-card-header>
  
        <mat-card-content class="frm-signin-body">
          <mat-form-field>
            <input type="text" matInput placeholder="Employee Id">
          </mat-form-field>
          <br><br>
        </mat-card-content>
  
        <mat-card-actions class="frm-signin-actions">
          <button mat-raised-button class="btn-signin">Cancel</button>
          <button routerLink = "/quiz-selection" mat-raised-button class="btn-signin">Submit</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>