<div class="signin-form">
    <mat-card class="signin-panel">
        <mat-card-title>Please enter Employee Id below!</mat-card-title>
            
        <mat-card-content>
            <mat-card>
                <mat-card-content>
                    <mat-form-field>
                        <input type="text" matInput placeholder="8675309">
                    </mat-form-field>
                </mat-card-content>
                    <mat-card-actions>
                        <button routerLink = "/home" mat-raised-button>Sign In</button>
                    </mat-card-actions>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>